.new{
    background-color:blanchedalmond;
    color:deeppink ;
    text-align: center;
}
.nav{
    font-family: 'Times New Roman';
    font-weight: 300;
}
.head{text-align: center;}
.c1{
    float: left;
    width: 30%;
    padding: 5px;
    
}
.course::after{
    content: "";
    clear: both;
    display:table;
}